<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org">
<head>
<link th:href = "@{/css/style.css}" type = "text/css" rel ="stylesheet"/>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<table> 
		<thead>
			<tr style = "font-weight:bold;" bgcolor ="lightgreen">
				<td> ID </td>
				<td> First Name </td>
				<td> Last Name </td>
			</tr>
		</thead>
		<th:block th:each = "owner, iterStatus:${owners}">
			<tr th:bgcolor = "${iterStatus.odd}?red:yellow">
				<td th:text = "${owner.id}"></td>
				<td th:text = "${owner.firstName}"></td>
				<td th:text = "${owner.lastName}"></td>
		 	</tr>
		</th:block>
	</table>
</body>
</html>